{% extends "security/base.html" %}

{% block content %}
{% from "security/_macros.html" import render_field_with_errors %}
    <div class="security-box">
        <div class="card">
            <div class="card-body">
                <div class="text-center primary-text">
                    <h3><i class="fas fa-user"></i> {{ _("Send password reset instructions") }}</h3>
                    <hr class="mt-2 mb-2">
                </div>
                <form class="form-signin" method="POST" action="{{ url_for('security.forgot_password') }}" name="forgot_password_form">
                    {{ forgot_password_form.hidden_tag() }}
                    {{ render_field_with_errors(forgot_password_form.email, "fas fa-envelope") }}
                    <div class="text-center mt-2">
                            {{ forgot_password_form.submit  }}
                    </div>
                </form>
            </div>
            <div class="modal-footer mx-5 pt-3 mb-1">
                {% include "security/_menu.html" %}
            </div>
        </div>
    </div>
{% endblock %}