.photo-set figure {
  position: relative;
  padding: 5px;
  margin: 0;
  flex: 1;
}

figure img {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  margin: auto;
}

.photo-set {
  margin: 25px 0;
}

.photo-set + .photo-set {
  margin-top: -25px;
}

.photo-set figure figcaption {
  position: absolute;
  left: 3px;
  right: 3px;
  bottom: 3px;
  width: auto;
  margin: 0;
  padding: 60px 0 10px;
  color: #fff;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, rgba(0, 0, 0, .03) 26%, rgba(0, 0, 0, .4) 71%, rgba(0, 0, 0, .5));
  opacity: .6;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.photo-set figure:hover figcaption {
  opacity: 1;
}

.pangu {
  margin: 0 .12em;
}

.footnotes {
  line-height: 1.32;
  opacity: .96;
}

.footnotes::before {
  content: "";
  display: block;
  border-top: 4px solid var(--primary-color);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}

.footnotes a[href^="#fnref"] {
  border-bottom: 0;
}

.hljs, .highlight {
    border: none;
    border-left: 5px solid rgba(0,0,0,.08);
    font-family: "Consulas", "Courier New", Courier, mono, serif;
    font-size: 15px;
    line-height: 1.45;
    background-color: rgba(0,0,0,.02);
    display: block;
    padding: 16px;
    margin: 15px 0;
    width: 100%;
    font-weight: 500;
    color: #000;
    white-space: pre-wrap;
    word-break: normal;
}

.t-g-control {
    position: fixed;
    z-index: 666;
    top: 40%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
}

.gobottom, .gotop, .toc-control {
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
    padding: 4px;
    border-radius: 4px;
    background: #f5f5f5;
}

