.mdb-lightbox figure {
    float: left;
    padding: 5px;
    margin: 0
}

.mdb-lightbox figure .img-fluid {
    display: inline
}

.mdb-lightbox figure img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    border-radius: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s
}

.mdb-lightbox figure img:hover {
    opacity: .8
}

.mdb-lightbox figure figcaption {
    display: none
}

.pangu {
  margin: 0 .12em;
}

.footnotes {
  line-height: 1.32;
  opacity: .96;
}

.footnotes::before {
  content: "";
  display: block;
  border-top: 4px solid var(--primary-color);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}

.footnotes a[href^="#fnref"] {
  border-bottom: 0;
}

.hljs, .highlight {
    border: none;
    border-left: 5px solid rgba(0,0,0,.08);
    font-family: "Consulas", "Courier New", Courier, mono, serif;
    font-size: 15px;
    line-height: 1.45;
    background-color: rgba(0,0,0,.02);
    display: block;
    padding: 16px;
    margin: 15px 0;
    width: 100%;
    font-weight: 500;
    color: #000;
    white-space: pre-wrap;
    word-break: normal;
}

.t-g-control {
    position: fixed;
    z-index: 666;
    top: 40%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
}

.gobottom, .gotop, .toc-control {
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
    padding: 4px;
    border-radius: 4px;
    background: #f5f5f5;
}

.post-control {
    background-color: rgba(0,0,0,.02);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    margin-top: 100px;
    margin-left: -45px;
    z-index: 666;
}
