.security-page {
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.security-box {
    width: 450px;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
