.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

#go-to-top {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 11111;
    padding-top: 15px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
}
.archive ul li:first-of-type {
    border-top: none;
}
.archive ul li {
    padding-top: .8rem;
    border-top: 1px solid #eceeef;
    padding-bottom: .3rem;
}
.category ul li:first-of-type {
    border-top: none;
}
.category ul li {
    padding-top: .8rem;
    border-top: 1px solid #eceeef;
    padding-bottom: .3rem;
}
.text-hover {
    color: #424242;
    transition: .4s;
}
.dropdown .dropdown-menu {
    padding: .5rem
}

.dropdown .dropdown-menu .dropdown-item {
    padding: .5rem;
    margin-left: 0;
    font-size: .9rem
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active {
    background-color: #4285f4;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear
}
.alert-error {
    color: #856404;
    background-color: #ff4444;
    border-color: #ff4444;
}

.post-card-measures {
    display: flex;
    padding-top: 8px;
    margin: 0 -15px;
}

.post-card-measure {
    width: 130px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
}
.post-card-measure-inner {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.post-number {
    line-height: 1.125;
    font-size: 20px;
    white-space: nowrap;
}

.Label {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    background-color: initial !important;
    border: 1px solid #e1e4e8;
        border-top-color: rgb(225, 228, 232);
        border-right-color: rgb(225, 228, 232);
        border-bottom-color: rgb(225, 228, 232);
        border-left-color: rgb(225, 228, 232);
}
.Label--outline {
    color: #586069;
    border-color: #e1e4e8;
}

.tags:last-child {
    margin-bottom: -0.5rem;
}
.tags {
    align-items: center;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tags.has-addons .tag:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.tags.has-addons .tag {
    margin-right: 0;
}
.tags .tag:not(:last-child) {
    margin-right: 0.5rem;
}
.tags .tag {
    margin-bottom: 0.5rem;
}
.tag:not(body) {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.tags.has-addons .tag:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.tag.is-grey {
    background: #e7e7e7;
}

.post-item {
    border-left: 1px solid #e6e6e6;
    padding-left: 10px;
    margin-left: 10px;
}

.timeline {
    margin: 0 0 45px;
    padding: 0;
    position: relative;
}
.timeline::before {
    border-radius: .25rem;
    border-left: 1.5px dashed #dee2e6;
    bottom: 0;
    content: '';
    left: 35px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline>.time-label>span {
    background-color: #07C160;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
}
.timeline>div>.timeline-item {
    border-radius: .25rem;
    background: #fff;
    color: #495057;
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.timeline>div>.timeline-item>.timeline-header {
    color: #495057;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
}
.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.timeline-item-head {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 36px;
    top: 1rem;
    transform: translate(-50%, 0);
    border: 2px solid #1890FF;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
    width: 100%;
    object-fit: cover;
}
.inner:hover img{
    transform: scale(1.2);
}

.widget-content .single-post {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.5rem;
}

.widget-content .single-post:last-of-type {
    border-bottom: none;
}

.progress {
    position:fixed;
    right:0;
    top:0;
    left:0;
    width:100%;
    height:4px;
    color:#07C160;
    border:none;
    background:0 0;
    -webkit-appearance:none;
    -moz-appearance:none;
    z-index: 11111;
    appearance:none
}
.progress::-webkit-progress-bar{
    background-color:transparent
}
.progress::-webkit-progress-value{
    background-color:#07C160
}
.progress::-moz-progress-bar{
    background-color:#07C160
}
.progress-container{
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:2px;
    background-color:transparent
}
.progress-bar{
    display:block;
    width:50%;
    height:inherit;
    background-color:#3eb0ef
}

.page-title {
    margin-top: 0;
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 700;
    color: #4c4e54;
    margin-bottom: .5rem;
}

html,
body,
.min_content {
  height: auto;
  min-height: 85vh;
}

.chip {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.chip:hover {
    background-color: #e0e0e0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.article {
    font-size: .9rem;
    line-height: 1.8;
}

.card .card-body h1 {
    font-weight: 700;
}

.card .card-body h2 {
    font-weight: 600;
}

.card .card-body h3 {
    font-weight: 500;
}

.card .card-body h4 {
    font-weight: 400;
}

.card .card-body h5 {
    font-weight: 400;
}

.card .card-body h6 {
    font-weight: 400;
}

.fixed-sn nav,
.fixed-sn main,
.fixed-sn footer{
    padding-left: 7rem;
    padding-right: 7rem;
}

@media (max-width: 1440px) {

    .fixed-sn nav,
    .fixed-sn main,
    .fixed-sn footer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 600px) {

    .fixed-sn main,
    .fixed-sn .navbar .container-fluid,
    .fixed-sn .page-footer .container-fluid {
        margin-right: 2%;
        margin-left: 2%
    }
}

@media (min-width: 992px) {

    .fixed-sn main,
    .fixed-sn .navbar .container-fluid,
    .fixed-sn .page-footer .container-fluid {
        margin-right: 5%;
        margin-left: 5%
    }
}

@media (min-width: 1200px) {

    .fixed-sn main,
    .fixed-sn .navbar .container-fluid,
    .fixed-sn .page-footer .container-fluid {
        margin-right: 6%;
        margin-left: 6%
    }
}

.tab-content {
    padding: 10px 0 0 0
}

.tab-content.vertical {
    padding-top: 0
}

.tab-content.card {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.classic-tabs .nav {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: .25rem;
}

@media (min-width: 62rem) {
    .classic-tabs .nav {
        overflow-x: hidden
    }
}

.classic-tabs .nav li a {
    display: block;
    padding: 5px 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 0
}

.classic-tabs .nav li a:not(.active) {
    margin-bottom: 3px
}

.classic-tabs .nav li a.active {
    color: #07C160;
    border-bottom: 3px solid
}

@media (min-width: 62em) {
    .classic-tabs .nav li:first-child {
        margin-left: 5px
    }
}


.classic-tabs .nav.tabs-green li a.active {
    border-color: #07C160
}

.classic-tabs .nav.tabs-animated li a.active {
    border: none
}

.classic-tabs .nav.tabs-animated.tabs-green .floor {
    background-color: #07C160
}

.classic-tabs .nav.tabs-animated .floor {
    position: absolute;
    bottom: 0;
    z-index: 1200;
    display: inline-block;
    width: 30px;
    height: 3px;
    -webkit-transition: all .4s linear;
    transition: all .4s linear
}

.tabs-green {
    background-color: #FFF !important
}
