{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <style>
        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }
        html,
        body,
        .post_content {
          height: auto;
          min-height: 100vh;
        }
    </style>
{% endblock styles %}

{% block navbar_attribs %}fixed-top{% endblock navbar_attribs %}

{% block page_content %}
    <div class="post_content" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _("Upload Images") }}</h1>
            </div>
        </div>

        <div class="row">
            <form method="post" enctype=multipart/form-data class="col-md-12">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.upload_name(required=True) }}
                    {{ form.upload_img }}
                </div>

                <div class="form-group float-right">
                    <button type="submit" class="btn btn-primary">{{ _("Upload") }}</button>
                </div>
            </form>
            <div class="col-md-12" style="height:30px;"></div>
        </div>

        <hr>

        <table id="imges" class="table table-sm table-striped">
            <thead>
                <tr>
                    <th style="width: 40%">{{ _("Name") }}</th>
                    <th style="width: 40%">{{ _("Path") }}</th>
                    <th style="width: 10%">{{ _("Preview") }}</th>
                    <th style="width: 10%">{{ _("Delete") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for file_abs in get_abs_existing_files() %}
                    {% set filename = file_abs|get_filename %}
                    <tr>
                        <td>
                            <a href="{{ file_abs }}">
                                {{ file_abs|get_filename }}
                            </a>
                        </td>
                        <td class="path-input-col">
                            <input class="path-input" title="path" style="width: 100%;" type="text" readonly value="{{file_abs}}">
                        </td>
                        <td>
                            <img class="thumbnail" style="height: 30px; width: auto; max-width:30px;" src="{{file_abs}}">
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('files.upload_delete', filename=filename) }}" onclick="return del()">
                                {{ delete_form.csrf_token }}
                                <button type="submit" class="btn btn-sm btn-outline-danger shadow-none ml-0">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            // Build the whole data table
            $('#imges').DataTable({
                "columnDefs":[
                    {"orderable": false, "targets": [1, 2, 3]}
                ]
            });

            // Register autofill on new selected image upload
            document.getElementById("upload_img").addEventListener("change", function(){
                var file = document.getElementById("upload_img").files[0].name;
                document.getElementById("upload_name").value = file
            });

        } );
        function del(){
            if(!confirm("Are you Sure delete this image?")){
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}


