{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightgallery/css/lightgallery.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightgallery/css/lg-transitions.css') }}">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 5px 0; min-height: 300px;') }}
    <style>
        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }
    </style>
{% endblock styles %}

{% block page_content %}
    <div class="post_content">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _("Upload Images") }}</h1>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload"
              aria-selected="true">Upload image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="uploads-tab" data-toggle="tab" href="#uploads" role="tab" aria-controls="uploads"
              aria-selected="false">Upload images</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="upload" role="tabpanel" aria-labelledby="upload-tab">
            <form method="post" action="{{ url_for('files.upload') }}" enctype="multipart/form-data" class="mt-3">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.upload_name(required=True) }}
                    {{ form.upload_img }}
                </div>

                <button type="submit" class="btn btn-primary" style="margin-left: 0;">{{ _("Upload") }}</button>
            </form>
          </div>
          <div class="tab-pane fade" id="uploads" role="tabpanel" aria-labelledby="uploads-tab">
            {{ dropzone.create(action='files.uploads') }}
            <button id="upload-btn" class="btn btn-primary" style="margin-left: 0;">{{ _("Upload") }}</button>
          </div>
        </div>
        <div class="col-md-12" style="height:45px;"></div>

        <hr>

        <table id="imges" class="table table-sm table-striped">
            <thead>
                <tr>
                    <th style="width: 20%">{{ _("Name") }}</th>
                    <th style="width: 50%">{{ _("Path") }}</th>
                    <th style="width: 15%">{{ _("Preview") }}</th>
                    <th style="width: 15%">{{ _("Delete") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for file_abs in get_abs_existing_files() %}
                    {% set filename = file_abs|get_filename %}
                    <tr>
                        <td>
                            <a href="{{ file_abs }}">
                                {{ file_abs|get_filename|truncate(50) }}
                            </a>
                        </td>
                        <td>
                            <input class="path-input" title="path" style="width: 100%;" type="text" readonly value="{{file_abs}}">
                        </td>
                        <td>
                            <a class="thumbnail" href="{{ file_abs }}">
                                <img style="max-width:80%;" src="{{ file_abs }}">
                            </a>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('files.upload_delete', filename=filename) }}" onclick="return del()">
                                {{ delete_form.csrf_token }}
                                <button type="submit" class="btn btn-sm btn-outline-danger shadow-none ml-0">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lightgallery/js/lightgallery.js') }}"></script>
    <script src="{{ url_for('static', filename='lightgallery/modules/lg-fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename='lightgallery/modules/lg-thumbnail.js') }}"></script>
    <script src="{{ url_for('static', filename='lightgallery/modules/lg-zoom.js') }}"></script>

    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                     custom_options='autoProcessQueue: false, addRemoveLinks: true,') }}

    <script>
        $(document).ready(function() {
            // Register autofill on new selected image upload
            document.getElementById("upload_img").addEventListener("change", function(){
                var file = document.getElementById("upload_img").files[0].name;
                document.getElementById("upload_name").value = file
            });

        } );

        function del(){
            if(!confirm("Are you Sure delete this image?")){
                window.event.returnValue = false;
            }
        }

        $(function () {
            $('#imges').lightGallery({selector: '.thumbnail', thumbnail:true});
        });
    </script>
{% endblock %}


