<hr>
<section class="section pb-3 fadeIn">
    <!--  Card -->
    <div class="dark-grey-text mb-5 mt-4 mx-4">
        <div class="text-center mb-4">
          <h3 class="font-weight-bold pt-3 mb-5">
              {{ _("TOPIC") }}
          </h3>
        </div>
        <div class="row mb-3">
          <div class="col-3">
              <div class="view inner overlay z-depth-1">
                <img src="{{ post.collection.background }}" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
          </div>
          <div class="col-9">
            <h6 class="mt-0 mb-3">
              <a href="{{ url_for('posts.topic', topic_id=post.collection.id) }}" class="dark-grey-text">
                <strong>{{ post.collection.name }}</strong>
              </a>
            </h6>

            <p class="mb-3 dark-grey-text">
                {{ post.collection.description|truncate(200) }}
            </p>

            <div class="post-data">
              <p class="font-small grey-text mb-0">
                {{ moment(post.collection.timestamp).format('LL') }}
              </p>
            </div>
          </div>
          <!--  Excerpt -->
        </div>

    </div>
</section>