<hr>
<section id="comments" class="section pb-3 fadeIn">
    <div class="comments-list text-center text-md-left mb-3 mt-5 mx-4">
      <div class="text-center mb-4">
        <h3 class="font-weight-bold pt-3 mb-5">
            {{ _("Comments") }} <span class="badge pink">{{ post.comments|length }}</span>
        </h3>
      </div>

      {% for comment in post.comments %}
          <div class="row mb-4">
            <!--Content column-->
            <div class="col-md-10 col-12">
              <h5 class="user-name font-weight-bold">{{ comment.author }}</h5>
              <div class="mt-2">
                <ul class="list-unstyled">
                  <li class="comment-date font-small grey-text">
                      <i class="far fa-clock"></i>
                      <span data-toggle="tooltip" data-placement="top"
                          title="{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
                        {{ moment(comment.timestamp).format('LL') }}
                      </span>
                  </li>
                </ul>
              </div>
              <p class="dark-grey-text article">
                  {{ comment.body }}
              </p>
            </div>
            {% if current_user.is_admin %}
            <div class="col-md-2">
                <form class="float-right" method="POST" action="{{ url_for('posts.delete_comment', comment_id=comment.id) }}" onclick="return del()">
                  {{ operate_form.csrf_token }}
                  <button type="submit" class="btn btn-sm btn-outline-danger shadow-none ml-0">
                      {{ _("Delete") }}
                  </button>
                </form>
            </div>
            {% endif %}
            <!--/.Content column-->
          </div>
      {% endfor %}
    </div>
</section>