{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">

    <style>
        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }
    </style>
{% endblock styles %}

{% block navbar_attribs %}fixed-top{% endblock navbar_attribs %}

{% block page_content %}
    <div class="timeline" style="margin-top: 60px;">
      {% for archive in archives %}
          {% with post_nums = archive|count_post_nums_with_archive %}
              {% if post_nums %}
                  <div class="time-label">
                    <span class="white-text">{{ archive.label }}</span>
                  </div>
                  {% for post in archive.posts %}
                  <div>
                    <div class="timeline-item-head"></div>
                    <div class="timeline-item">
                      <h2 class="timeline-header no-border">
                          <span data-toggle="tooltip" data-placement="top"
                                title="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
                              {{ moment(post.timestamp).format("LL") }}
                          </span>
                          <a class="ml-1" href="{{ url_for('posts.post', post_slug=post.slug) }}">{{ post.title }}</a>
                          {% if post.is_privacy %}
                            <span class="Label Label--outline v-align-middle ml-1">
                              Private
                            </span>
                          {% endif %}
                      </h2>
                    </div>
                  </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      {% endfor %}
    </div>

    <nav class="mb-5 pb-2">
        {% from "mdbootstrap/pagination.html" import render_pagination %}
        {{ render_pagination(pagination,
         prev=('<span aria-hidden="true">&larr;</span> Pre')|safe,
         next=('Next <span aria-hidden="true">&rarr;</span>')|safe,
         align="center") }}
    </nav>
{% endblock page_content %}