{% extends "mdbootstrap/base.html" %}
{% from 'macro.html' import nav_active_item %}
{% block title %}May Blog{% endblock title %}
{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Hover/css/hover.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block header %}
    <header>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark {% block navbar_attribs %}{% endblock navbar_attribs %}">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {{ nav_active_item(['posts.posts'], _("Home"), 'fas fa-home') }}
                        </ul>
                        <form class="search-form" style="margin-top: -15px;" role="search" method="GET" action="{{ url_for('posts.search_post') }}">
                          <div class="form-group md-form my-0 waves-light waves-effect waves-light">
                            <input type="text" style="font-size: 13px;" name=q class="form-control" placeholder="{{ _('Search') }}">
                          </div>
                        </form>
                        <ul class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <li class="nav-item dropdown ml-4 mb-0">
                                    <a class="nav-link dropdown-toggle waves-effect waves-light font-weight-bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <img class="rounded-circle z-depth-0" src="{{ url_for('auth.get_avatar', filename=current_user.avatar_s) }}" width="25" height="25"/>
                                        <span class="clearfix d-none d-sm-inline-block">
                                            {{ current_user.full_name }}
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        {% if current_user.is_admin %}
                                        <a class="dropdown-item" href="{{ url_for('admin.index') }}">
                                            <i class="fas fa-toolbox"></i>
                                            <span class="ml-1">{{ _("Admin Dashboard") }}</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        {% endif %}

                                        <a class="dropdown-item" href="{{ url_for('security.logout') }}">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span class="ml-1">{{ _("Logout") }}</span>
                                        </a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item ml-4 mb-0">
                                    <a class="nav-link waves-effect waves-light font-weight-bold" href="{{ url_for('security.login') }}">
                                        <i class="fas fa-sign-in-alt"></i>
                                        <span class="clearfix d-none d-sm-inline-block">{{ _("Login") }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock navbar %}

        {% block intro %}
        {% endblock intro %}
    </header>
{% endblock header %}

{% block content %}
    <!--Main Layout-->
    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div id="alert_div" class="alert alert-{{ category }}" style="position: fixed;top: 0;left: 0; right: 0;width: 100%;z-index: 11111;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5>{{ message }}</h5>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div style="padding: 15px 0;">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>

        <div id="go-to-top">
            <span class="btn-floating btn-sm btn-primary text-center shadow-none">
                <i class="fas fa-arrow-up" style="padding-top: 12px;font-size: 20px;"></i>
            </span>
        </div>
    </main>
{% endblock content %}

{% block footer %}
    <footer class="page-footer text-center text-md-left {% block footer_attribs %}{% endblock footer_attribs %}">
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
          © 2019-2020 Copyright:
          <a href="https://github.com/shijl0925" title="Written by shijl0925">
              <strong>shijl0925</strong>
          </a>
           -
          <a href="https://github.com/shijl0925/May-Blog" title="Fork me on GitHub">GitHub</a>
      </div>
    </div>
    <!--/.Copyright-->
    </footer>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('zh-cn') }}
    <script>
        window.onscroll = function() {
            var toTop = document.getElementById('go-to-top');
            var oldTop = document.documentElement.scrollTop || document.body.scrollTop;
            var timer;
            toTop.onclick = function() {
                var speed = 10;
                timer = setInterval(function() {
                    var top = document.documentElement.scrollTop || document.body.scrollTop;
                    var goSpeed = top/50;
                    if (goSpeed > speed) {
                        goSpeed = speed;
                    } else if (goSpeed < 6) {
                        goSpeed = 6;
                    }

                    if (top > speed) {
                        if(document.documentElement.scrollTop){
                            top = document.documentElement.scrollTop-=speed;
                        }else{
                            top = document.body.scrollTop-=speed;
                        }
                    } else {
                        clearInterval(timer);
                    }
                }, 0);
            };

            var newTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (newTop > 100) {
                toTop.style.display = 'block';
            } else {
                toTop.style.display = 'none';
            }
            if (newTop > oldTop) {
                clearInterval(timer);
            }
            oldTop = newTop;
        };

        $(document).ready(function(){
            $("#alert_div").fadeTo(2000, 500).slideUp(500, function(){
                $("#alert_div").slideUp(500);
            });
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

