{% extends 'base.html' %}
{% from "macro.html" import render_field_with_errors %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/simplemde/1.11.2/simplemde.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/github.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/select2-bootstrap-css/1.4.2/select2-bootstrap.min.css">

    <style>
        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }
        .CodeMirror, .CodeMirror-scroll {
            min-height: 470px;
        }
    </style>
{% endblock styles %}

{% block page_content %}
    <div class="row min_content mt-3 mb-3">
        <!-- Main List -->
        <div class="col-lg-12 col-12">
            <div class="card">
                <!-- Card content -->
                <form class="card-body" method="POST" action="{{ url_for('posts.create_post') }}">
                    {{ form.csrf_token }}
                    <div class="row">
                      <!-- Grid column -->
                      <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6" style="padding-right: 5px;">
                                {{ render_field_with_errors(form.title, necessary=True) }}
                            </div>
                            <div class="col-md-6" style="padding-left: 5px;">
                                {{ render_field_with_errors(form.background_image_url, necessary=True) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form.body(style="display: none;")}}
                            {% if form.body.errors %}
                              <ul>
                              {% for error in form.body.errors %}
                                <li>
                                    <small class="form-text text-muted mb-4">{{ error }}</small>
                                </li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                        </div>

                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-3">
                          <div class="form-group">
                              {{ form.category.label }}
                              <span class="red-text">*</span>
                              <span data-toggle="modal" data-target="#create_category" style="display: none;margin-left: 5px;vertical-align: top; margin-top: -5px;">
                                  <i class="fas fa-plus-circle" style="color: #3f51b5; font-size: 12px;"></i>
                              </span>
                              {{ form.category }}
                              {% if form.category.errors %}
                                  <ul>
                                  {% for error in form.category.errors %}
                                    <li>
                                        <small class="form-text text-muted mb-4">{{ error }}</small>
                                    </li>
                                  {% endfor %}
                                  </ul>
                              {% endif %}
                          </div>

                          <div class="form-group">
                              {{ form.collection.label }}
                              <span data-toggle="modal" data-target="#create_collection" style="display: none;margin-left: 5px;vertical-align: top; margin-top: -5px;">
                                  <i class="fas fa-plus-circle" style="color: #3f51b5; font-size: 12px;"></i>
                              </span>
                              {{ form.collection }}
                              {% if form.collection.errors %}
                                  <ul>
                                  {% for error in form.collection.errors %}
                                    <li>
                                        <small class="form-text text-muted mb-4">{{ error }}</small>
                                    </li>
                                  {% endfor %}
                                  </ul>
                              {% endif %}
                          </div>

                          <div class="form-group">
                            {{ form.tags.label }}
                            <span class="red-text">*</span>
                            <span data-toggle="modal" data-target="#create_tag" style="display: none;margin-left: 5px;vertical-align: top; margin-top: -5px;">
                                <i class="fas fa-plus-circle" style="color: #3f51b5; font-size: 12px;"></i>
                            </span>
                            {{ form.tags }}
                            {% if form.tags.errors %}
                                <ul>
                                  {% for error in form.tags.errors %}
                                    <li>
                                        <small class="form-text text-muted mb-4">{{ error }}</small>
                                    </li>
                                  {% endfor %}
                                </ul>
                            {% endif %}
                          </div>

                          <div class="form-group">
                              {{ form.deny_comment }}
                              {{ form.deny_comment.label }}
                          </div>
                          <div class="form-group">
                              {{ form.privacy }}
                              {{ form.privacy.label }}
                          </div>
                          <div class="form-group">
                              {{ form.top }}
                              {{ form.top.label }}
                          </div>
                          <div class="form-group" style="display: none;">
                              {{ form.is_markdown }}
                              {{ form.is_markdown.label }}
                          </div>
                          <a href="{{ url_for('files.upload') }}" target="_blank">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <span class="ml-1">{{ _("Upload Image") }}</span>
                          </a>
                      </div>
                      <!-- Grid column -->
                    </div>

                    <div class="btn-group">
                        <div class="form-group">
                            {{ form.publish_submit }}
                        </div>
                        <div class="form-group ml-1">
                            {{ form.save_submit }}
                        </div>
                    </div>
                </form>
                <div class="modal fade" style="z-index: 11112;" id="create_category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel1">{{ _("Creat a new category") }}</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="mt-3" method="POST" action="{{ url_for('posts.create_category') }}">
                                    {{ create_category_form.csrf_token }}
                                    {{ render_field_with_errors(create_category_form.name) }}

                                    <div style="position: fixed;right: 0;bottom: 0;">
                                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">{{ _("Close") }}</button>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">{{ _("Save") }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" style="z-index: 11112;" id="create_tag" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel2">{{ _("Creat a new tag") }}</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="mt-3" method="POST" action="{{ url_for('posts.create_tag') }}">
                                    {{ create_tag_form.csrf_token }}
                                    {{ render_field_with_errors(create_tag_form.name) }}

                                    <div style="position: fixed;right: 0;bottom: 0;">
                                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">{{ _("Close") }}</button>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">{{ _("Save") }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" style="z-index: 11112;" id="create_collection" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel3">{{ _("Creat a new topic") }}</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="mt-3" method="POST" action="{{ url_for('posts.create_collection') }}">
                                    {{ create_collection_form.csrf_token }}
                                    {{ render_field_with_errors(create_collection_form.name) }}
                                    {{ render_field_with_errors(create_collection_form.description) }}
                                    {{ render_field_with_errors(create_collection_form.background) }}

                                    <div style="position: fixed;right: 0;bottom: 0;">
                                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">{{ _("Close") }}</button>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">{{ _("Save") }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main List -->
    </div>
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.staticfile.org/select2/4.0.13/js/select2.full.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.select2-basic-multiple').select2();
        });
    </script>

    <script src="https://cdn.staticfile.org/simplemde/1.11.2/simplemde.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>

    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("body"),
            renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            }
        });

        $(function(){
            $("form").submit(function(){
                $("#is_markdown").prop("checked", true);
                $("textarea[name=body]").val(simplemde.value());
                return true;
            })
        });
    </script>
{% endblock %}
