{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <style>
    .navbar {
        background-color: #6f7782;
    }
    footer.page-footer {
        background-color: #6f7782;
    }
    </style>
{% endblock styles %}

{% block page_content %}
    <div class="row mt-3 pt-3">
        <!-- Main List -->
        <div class="col-lg-9 col-12 mt-1">
            {% if drafts %}
                <div class="text-center mb-4">
                    <h3 class="font-weight-bold pt-3 mb-5">
                        {{ _("Draft Posts") }} <span class="badge pink">{{ draft_nums }}</span>
                    </h3>
                </div>
                <hr class="mb-5">
                <section class="pb-3 text-lg-left">
                    {% for post in drafts %}
                      <div class="row">
                        <div class="col-lg-5 mb-1">
                            <div class="view zoom overlay z-depth-1 rounded">
                              <img src="{{ post.background }}" class="img-fluid" alt="First sample image">
                              <a>
                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                              </a>
                            </div>
                        </div>

                        <div class="col-lg-7 mb-1">
                            <h4 class="mt-0">
                              <strong>
                                {{ post.title }}
                              </strong>
                              {% if post.is_privacy %}
                                <span class="Label Label--outline v-align-middle ml-1" style="vertical-align: top; margin-top: 5px;">
                                  Private
                                </span>
                              {% endif %}
                            </h4>

                            <p>
                                {{ post.body|striptags|truncate(125) }}
                            </p>

                            <p class="dark-grey-text">
                                <span data-toggle="tooltip" data-placement="top"
                                      title="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
                                    {{ moment(post.timestamp, local=True).fromNow() }}
                                </span>
                            </p>

                            <p>
                                <span class="badge badge-secondary mx-1">
                                    {{ post.category.name }}
                                </span>
                                {% for tag in post.tags %}
                                    <span class="badge badge-info mx-1">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}
                            </p>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="btn-group float-right" role="group">
                              <a href="{{ url_for('posts.edit_post', post_slug=post.slug) }}">
                                  <button type="submit" class="btn btn-sm btn-outline-primary shadow-none">
                                      {{ _("Edit") }}
                                  </button>
                              </a>
                              <form method="POST" action="{{ url_for('posts.delete_post', post_slug=post.slug) }}" onclick="return del()">
                                  {{ operate_form.csrf_token }}
                                  <button type="submit" class="btn btn-sm btn-outline-danger shadow-none ml-0">
                                      {{ _("Delete") }}
                                  </button>
                              </form>
                          </div>
                        </div>
                      </div>
                      <hr class="mb-5">
                    {% endfor %}
                </section>
                <nav class="mb-5 pb-2">
                  {% from "mdbootstrap/pagination.html" import render_pagination %}
                  {{ render_pagination(pagination,
                  prev=('<span aria-hidden="true">&larr;</span> Pre')|safe,
                  next=('Next <span aria-hidden="true">&rarr;</span>')|safe,
                  align="center") }}
                </nav>
            {% else %}
                <div class="text-center mt-sm-2">
                    <h6>{{ _("No Draft Posts.") }}</h6>
                </div>
            {% endif %}
        </div>
        <!-- Main List -->

        <!-- Sidebar -->
        {% include "_sidebar.html" %}
        <!-- Sidebar -->
    </div>
    {% include "_tail.html" %}
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function del(){
            if(!confirm("Are you Sure delete this post?")){
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}