<div class="form-group" id="markdown-body">
    {{ form.body.label }}
    <span class="red-text">*</span>
    {% if request.endpoint == "posts.create_post" %}
        <a href="{{ url_for('posts.create_post', editor='ckeditor') }}" class="ml-md-3">Html Editor</a>
    {% endif %}
    {{form.body(placeholder="Blog text", required="", data_provide="markdown", rows="15")}}
    {% if form.body.errors %}
      <ul>
      {% for error in form.body.errors %}
        <li>
            <small class="form-text text-muted mb-4">{{ error }}</small>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
</div>