{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <style>
    .navbar {
        background-color: #6f7782;
    }
    footer.page-footer {
        background-color: #6f7782;
    }
    </style>
{% endblock styles %}

{% block page_content %}
    <div class="row mt-3 pt-3">
        <!-- Main List -->
        {% include "_posts.html" %}
        <!-- Main List -->

        <!-- Sidebar -->
        {% include "_sidebar.html" %}
        <!-- Sidebar -->
    </div>
    {% include "_tail.html" %}
{% endblock page_content %}