{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">

    <style>
    .navbar {
        background-color: #6f7782;
    }
    footer.page-footer {
        background-color: #6f7782;
    }

    p img {
         max-width: 750px;
         max-height: 750px;
         object-fit: cover;
    }
    .hljs {
	    border: 0;
        font-family: "Consulas", "Courier New", Courier, mono, serif;
        font-size: 12px;
        background: #eee !important;
        display: block;
        padding: 1px;
        margin: 0;
        width: 100%;
        font-weight: 200;
        color: #333;
        white-space: pre-wrap
    }
    .hljs ul {
        list-style: decimal;
        background-color: #fff;
        margin: 0px 0px 0 40px !important;
        padding: 0px;
    }
    .hljs ul li {
        list-style: decimal-leading-zero;
        border-left: 1px solid #ddd !important;
        background: #fff;
        padding: 5px!important;
        margin: 0 !important;
        line-height: 14px;
        word-break: break-all;
        word-wrap: break-word;
    }
    .hljs ul li:nth-of-type(even) {
        background-color: #fcfcfc;
        color: inherit;
    }
    </style>
{% endblock styles %}

{% block page_content %}
    <div class="row mt-3 pt-3">
        <!-- Main List -->
        <div class="col-lg-9 col-12 mt-1">
          <!--Section: Blog v.4-->
          <div class="card">
              <div class="card-body">
                  <!--Grid row-->
                  <div class="row mb-4">
                      <div class="col-md-12">
                        <section class="section pb-3 fadeIn">
                            <div class="text-center">
                              <h3 class="card-title">
                                  <strong>
                                      {% if post.category %}
                                          [{{ post.category.name }}]
                                      {% endif %}
                                      {{ post.title }}
                                  </strong>
                              </h3>
                              <p class="dark-grey-text">
                                  <strong>{{ post.author.full_name }}</strong>
                                  <span class="ml-1" data-toggle="tooltip" data-placement="top"
                                        title="{{ post.publish_time.strftime('%Y-%m-%d %H:%M:%S') }}">
                                      {{ moment(post.publish_time).fromNow() }}
                                  </span>
                                  {% if post.visit_count %}
                                    <img class="ml-1" src="{{ url_for('static', filename='img/post-read.png') }}" width="25" height="25">
                                    {{ post.visit_count }}
                                  {% endif %}
                              </p>
                            </div>

                            <div class="dark-grey-text mb-3 mt-4 mx-4">
                              {{ post.body|safe }}

                              <div class="row mb-3">
                                  <div class="col-12">
                                      {% if current_user.is_admin %}
                                      <div class="btn-group float-right" role="group">
                                          <a href="{{ url_for('posts.edit_post', post_slug=post.slug) }}">
                                              <button type="submit" class="btn btn-sm btn-outline-primary shadow-none">
                                                  {{ _("Edit") }}
                                              </button>
                                          </a>
                                          <form method="POST" action="{{ url_for('posts.delete_post', post_slug=post.slug) }}" onclick="return del()">
                                              {{ operate_form.csrf_token }}
                                              <button type="submit" class="btn btn-sm btn-outline-danger shadow-none ml-0">
                                                  {{ _("Delete") }}
                                              </button>
                                          </form>
                                      </div>
                                      {% endif %}
                                  </div>
                              </div>

                              <div class="mb-5 justify-content-end">
                                  <a class="float-left" href="{{ url_for('posts.posts') }}">
                                      <i class="fas fa-arrow-circle-left"></i>
                                  </a>
                                  <span class="float-right">
                                      <i class="fas fa-tags mr-1"></i>
                                      {% for tag in post.tags %}
                                        <span class="badge badge-info">{{ tag.name }}</span>
                                      {% endfor %}
                                  </span>
                              </div>
                            </div>
                        </section>

                        {% if post and post.relate %}
                        <hr>
                        <section class="section pb-3 fadeIn">
                            <!--  Card -->
                            <div class="dark-grey-text mb-5 mt-4 mx-4">
                              <div class="text-center mb-4">
                                  <h3 class="font-weight-bold pt-3 mb-5">
                                      {{ _("RELATED POSTS") }} <span class="badge pink">{{ post.relate.posts|length }}</span>
                                  </h3>
                              </div>

                              {% for post in post.relate.posts %}
                                <div class="row mb-4">
                                  <!-- Excerpt -->
                                  <div class="col-12">
                                    <h6 class="mt-0">
                                      <a href="{{ url_for('posts.post', post_slug=post.slug) }}" class="dark-grey-text">
                                        <strong>{{ post.title }}</strong>
                                      </a>
                                    </h6>

                                    <div class="post-data">
                                      <p class="font-small grey-text mb-0">
                                        <i class="fas fa-clock"></i>
                                        <span data-toggle="tooltip" data-placement="top"
                                              title="{{ post.publish_time.strftime('%Y-%m-%d %H:%M:%S') }}">
                                            {{ moment(post.publish_time).format('YYYY-MM-DD') }}
                                        </span>
                                      </p>
                                    </div>
                                  </div>
                                  <!--  Excerpt -->
                                </div>

                              {% endfor %}
                            </div>
                        </section>
                        {% endif %}

                        {% if not post.deny_comment %}
                           {% if post.comments|length %}
                            <hr>

                            <section class="section pb-3 fadeIn">
                                <div class="comments-list text-center text-md-left mb-3 mt-5 mx-4">
                                  <div class="text-center mb-4">
                                    <h3 class="font-weight-bold pt-3 mb-5">
                                        {{ _("Comments") }} <span class="badge pink">{{ post.comments|length }}</span>
                                    </h3>
                                  </div>

                                  {% for comment in post.comments %}
                                      <div class="row mb-4">
                                        <!--Content column-->
                                        <div class="col-md-10 col-12">
                                          <h5 class="user-name font-weight-bold">{{ comment.author }}</h5>
                                          <div class="mt-2">
                                            <ul class="list-unstyled">
                                              <li class="comment-date font-small"><i class="fas fa-clock"></i> {{ comment.timestamp.strftime('%d/%m/%Y') }}</li>
                                            </ul>
                                          </div>
                                          <p class="dark-grey-text article">
                                              {{ comment.body }}
                                          </p>
                                        </div>
                                        {% if current_user.is_admin %}
                                        <div class="col-md-2">
                                            <form class="float-right" method="POST" action="{{ url_for('posts.delete_comment', comment_id=comment.id) }}" onclick="return del()">
                                              {{ operate_form.csrf_token }}
                                              <button type="submit" class="btn btn-sm btn-outline-danger shadow-none ml-0">
                                                  {{ _("Delete") }}
                                              </button>
                                            </form>
                                        </div>
                                        {% endif %}
                                        <!--/.Content column-->
                                      </div>
                                  {% endfor %}
                                </div>
                            </section>
                            {% endif %}
                        <hr>

                        <section class="sectionmb-4 fadeIn">
                            <h3 class="font-weight-bold text-center my-5">{{ _("Leave a reply") }}</h3>
                            <form class="card-body" method="POST" action="{{ url_for('posts.create_comment', post_slug=post.slug) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <!-- Grid row -->
                                <div class="row">

                                  <!-- Grid column -->
                                  <div class="col-lg-6 col-md-12 mb-4">

                                    <div class="input-group md-form form-sm form-3 pl-0">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text white black-text" id="basic-addon8">1</span>
                                      </div>
                                      <input type="text" name="author" class="form-control mt-0 black-border rgba-white-strong" placeholder="{{ _('Name') }}" aria-describedby="basic-addon9">
                                    </div>

                                  </div>
                                  <!-- Grid column -->

                                  <!-- Grid column -->
                                  <div class="col-lg-6 col-md-6 mb-4">

                                    <div class="input-group md-form form-sm form-3 pl-0">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text white black-text" id="basic-addon9">2</span>
                                      </div>
                                      <input type="text" name="email" class="form-control mt-0 black-border rgba-white-strong" placeholder="{{ _('Email') }}" aria-describedby="basic-addon9">
                                    </div>

                                  </div>
                                  <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row">

                                  <div class="col-12 mt-1">
                                    <div class="form-group basic-textarea">

                                      <textarea name="body" class="form-control" id="exampleFormControlTextarea6" rows="5" placeholder="{{ _('Write something here...') }}"></textarea>
                                    </div>

                                    <div class="text-right">
                                      <button class="btn btn-primary btn-sm waves-effect waves-light">{{ _("Submit") }}</button>
                                    </div>
                                  </div>

                                </div>
                                <!-- Grid row -->
                            </form>
                        </section>
                        {% endif %}
                      </div>
                </div>
                <!--Grid row-->
              </div>
          </div>

          <!--Section: Blog v.4-->
        </div>

        <!-- Sidebar -->
        {% include "sidebar.html" %}
        <!-- Sidebar -->
    </div>
    {% include "tail.html" %}
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
        $("pre code").each(function(){
          $(this).html("<ul><li>" + $(this).html().replace(/\n/g,"\n</li><li>") +"\n</li></ul>");
        });
        function del(){
            if(!confirm("Are you Sure delete this post?")){
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}
