<div class="col-lg-3 col-12 px-4 mt-1">
    <!-- Author -->
    {% if admin %}
    <div class="card mb-5">

      <!-- Card image -->
      <div class="view overlay">
          <img src="{{ url_for('auth.get_avatar', filename=admin.avatar_l) }}" class="card-img-top" alt="">
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
      </div>
      <!-- Card image -->

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        {% if admin.nick_name %}
        <h5 class="card-title dark-grey-text text-center grey lighten-4 py-2">
          <strong>{{ admin.nick_name }}</strong>
        </h5>
        {% endif %}

        {% if current_user.is_admin %}
          <div style="text-align: center;">
              <a href="{{ url_for('posts.create_post', editor='ckeditor') }}" class="white-text">
                  <button type="submit" class="btn btn-sm green" style="width:85px;padding-left:2px;padding-right:2px;margin-right: 0;border-top-right-radius: 0;border-bottom-right-radius: 0;">
                      <i class="far fa-edit"></i> {{ _("Create") }}
                  </button>
              </a>
              <a href="{{ url_for('posts.draft') }}" class="white-text">
                  <button type="submit" class="btn btn-sm grey" style="width:85px;padding-left:2px;padding-right:2px;margin-left: 0;border-top-left-radius: 0;border-bottom-left-radius: 0;">
                      <i class="far fa-folder"></i> {{ _("Draft") }}
                      {% if draft_nums %}
                          <span class="badge badge-warning">
                               {{ draft_nums }}
                          </span>
                      {% endif %}
                  </button>
              </a>
          </div>
        {% endif %}

        <div class="post-card-measures mt-3">
            <div class="post-card-measure">
                <div class="post-card-measure-inner">
                    <div class="post-number dark-grey-text">
                        <a href="{{ url_for('posts.posts') }}" class="dark-grey-text">
                            {{ post_nums }}
                        </a>
                    </div>
                    <div class="dark-grey-text text-center py-1 mb-3">
                        {{ _("POSTS") }}
                    </div>
                </div>
            </div>

            <div class="post-card-measure">
                <div class="post-card-measure-inner">
                    <div class="post-number dark-grey-text">
                        <a href="#tags" class="dark-grey-text">
                            {{ tag_nums }}
                        </a>
                    </div>
                    <div class="dark-grey-text text-center py-1 mb-3">
                        {{ _("TAGS") }}
                    </div>
                </div>
            </div>

            <div class="post-card-measure">
                <div class="post-card-measure-inner">
                    <div class="post-number dark-grey-text">
                        <a href="#categories" class="dark-grey-text">
                            {{ category_nums }}
                        </a>
                    </div>
                    <div class="dark-grey-text text-center py-1 mb-3">
                        {{ _("CATEGORIES") }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Description -->
        <p class="mt-1 dark-grey-text font-small text-center">
            {% if admin.bio %}{{ admin.bio }}{% endif %}
        </p>
        <p class="mt-1 dark-grey-text font-small text-center">
            {% if admin.location %}
                <svg class="octicon octicon-location" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z"></path></svg>
                {{ admin.location }}
            {% endif %}
        </p>

        <ul class="mt-1 list-unstyled list-inline-item list-unstyled flex-center">
            <!-- Github -->
            {% if admin.website %}
            <li>
                <a href="{{ admin.website }}" style="color: #171c2b!important;">
                    <span class="badge badge-pill pink"><i class="fab fa-github" aria-hidden="true"></i></span>
                </a>
            </li>
            {% endif %}
        </ul>
      </div>
      <!-- Card content -->
    </div>
    {% endif %}
    <!-- Author -->

    <!-- Tags -->
    {% if tags %}
    <section id="tags" class="section widget-content mb-5">
        <!--  Card -->
        <div class="card card-body pb-0">
          <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
            <strong>{{ _("TAGS") }}</strong>
          </p>
          <div class="single-post">
            <!-- Grid row -->
            <div class="row mb-4">
              <!-- Excerpt -->
              <div class="col-12">
                  {% for tag in tags %}
                      <a class="tags has-addons mr-3 hvr-buzz-out" href="{{ url_for('posts.posts', tag=tag.name) }}">
                        <span class="tag">{{ tag.name }}</span>
                        <span class="tag is-grey ml-n3">{{ tag|count_post_nums_with_tag }}</span>
                      </a>
                  {% endfor %}
              </div>
              <!--  Excerpt -->
            </div>
            <!--  Grid row -->
          </div>
        </div>
    </section>
    {% endif %}
    <!-- Tags -->

    <!-- ARCHIVE -->
    {% if archives %}
    <section class="archive mb-5">
        <!--  Card -->
        <div class="card card-body pb-0">
          <div class="single-post">

            <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
              <strong>{{ _("ARCHIVE") }}</strong>
            </p>

            <!-- Grid row -->
            <div class="row mb-4">
              <!-- Grid column -->
              <div class="col-md-12 text-center">
                <!-- List -->
                <ul class="list-unstyled">
                  {% for archive in archives %}
                  <li class="d-flex justify-content-between align-items-center">
                      <a href="{{ url_for('posts.posts', archive=archive.label) }}" class="dark-grey-text hvr-sweep-to-right">
                          <p class="mb-1">{{ archive.label }}</p>
                      </a>
                      {% with post_nums = archive|count_post_nums_with_archive  %}
                        {% if post_nums %}
                          <span class="badge badge-pill badge-primary font-small hvr-buzz-out">{{ post_nums }}</span>
                        {% endif %}
                      {% endwith %}
                  </li>
                  {% endfor %}
                </ul>
                <!-- List -->
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </div>
        <!--  Card -->
    </section>
    {% endif %}
    <!-- ARCHIVE -->

    <!-- Section: Categories -->
    {% if categories %}
    <section id="categories" class="category mb-5">

      <!--  Card -->
      <div class="card card-body pb-0">
        <div class="single-post">

          <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
            <strong>{{ _("CATEGORIES") }}</strong>
          </p>

          <div class="row mb-4">
              <div class="col-md-12 text-center">
                  <ul class="list-unstyled">
                    {% for category in categories %}
                    <li class="d-flex justify-content-between align-items-center">
                      <a href="{{ url_for('posts.posts', category=category.name) }}" class="dark-grey-text hvr-sweep-to-right">
                        <p class="mb-1">{{ category.name }}</p>
                      </a>
                      {% with post_nums = category|count_post_nums_with_category  %}
                        {% if post_nums %}
                          <span class="badge badge-pill badge-primary font-small hvr-buzz-out">{{ post_nums }}</span>
                        {% endif %}
                      {% endwith %}
                    </li>
                    {% endfor %}
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    <!-- Section: Categories -->

    <!-- POPULAR POSTS -->
    {% if popular_posts %}
    <section class="section widget-content mb-5">

      <!--  Card -->
      <div class="card card-body pb-0">
        <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
            <strong>{{ _("POPULAR POSTS") }}</strong>
        </p>

        {% for post in popular_posts %}
        <div class="single-post">
          <!-- Grid row -->
          <div class="row mb-4">
            <!-- Excerpt -->
            <div class="col-12">
              <h6 class="mt-0 font-small">
                <a href="{{ url_for('posts.post', post_slug=post.slug) }}" class="dark-grey-text">
                  <strong>{{ post.title }}</strong>
                </a>
                {% if post.is_privacy %}
                  <span class="Label Label--outline v-align-middle ml-1 mb-1">
                    Private
                  </span>
                {% endif %}
              </h6>

              <div class="post-data">
                <p class="font-small grey-text mb-0">
                    <i class="far fa-clock"></i>
                    <span data-toggle="tooltip" data-placement="top"
                          title="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
                        {{ moment(post.timestamp, local=True).format('YYYY-MM-DD') }}
                    </span>
                </p>
              </div>
            </div>
            <!--  Excerpt -->
          </div>
          <!--  Grid row -->
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}
    <!-- POPULAR POSTS -->

</div>