{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <style>
        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }
    </style>
{% endblock styles %}


{% block page_content %}
    <section class="section mb-5 min_content" style="margin: 15px 60px;">
        <div class="post-content">
            {% for tag in tags %}
                <a class="chip hvr-buzz-out" href="{{ url_for('posts.tag', tag_id=tag.id) }}">
                  {{ tag.name }} {{ tag|count_post_nums_with_tag }}
                </a>
            {% endfor %}
          </div>
    </section>
{% endblock page_content %}