{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <style>
        html,
        body,
        .jarallax {
          height: 200px;
          min-height: 200px;
        }

        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }

    .card .btn-action {
        margin-top: -1.44rem;
        margin-bottom: -1.44rem;
    }
    </style>
{% endblock styles %}

{% block page_content %}
    <section class="section min_content px-lg-5">
        {% if topics %}
        <div class="row mb-3 mt-3">
            {% for topic in topics %}
              <!-- Grid column -->
              <div class="col-md-4 my-1 mb-3">

                <!-- Card -->
                <div class="card">
                  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ url_for('files.uploaded_files', filename=topic.background|filename_m) }}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </div>

                  <!-- Button -->
                  <a href="{{ url_for('posts.topic', topic_id=topic.id) }}" class="btn-floating btn-action ml-auto mr-4 waves-effect waves-light" style="background-color: #6f7782;">
                      <i class="fas fa-chevron-right"></i>
                  </a>

                  <!-- Card content -->
                  <div class="card-body" style="height: 200px;">

                    <!-- Title -->
                    <h5 class="card-title">
                        <strong>
                            {{ topic.name|truncate(25) }}
                        </strong>
                    </h5>
                    <hr>

                    <!-- Text -->
                    <p class="card-text">{{ topic.description|truncate(150) }}</p>
                  </div>
                  <!-- Card content -->

                  <!-- Card footer -->
                  <div class="text-center" style="background-color: #6f7782;">

                    <ul class="list-unstyled list-inline font-small mt-3">

                      <li class="list-inline-item pr-2 white-text">{{ moment(topic.timestamp).format("LL") }}</li>

                      <li class="list-inline-item pr-2 white-text"><i class="fas fa-blog pr-1"></i>{{ topic|count_post_nums_with_topic }}</li>

                    </ul>

                  </div>
                  <!-- Card footer -->

                </div>
                <!-- Card -->

              </div>
              <!-- Grid column -->
            {% endfor %}
        </div>
        <nav class="mb-3">
            {% from "mdbootstrap/pagination.html" import render_pagination %}
            {{ render_pagination(pagination,
             prev=('<span aria-hidden="true">&larr;</span> Pre')|safe,
             next=('Next <span aria-hidden="true">&rarr;</span>')|safe,
             align="center") }}
        </nav>
        {% endif %}
    </section>
{% endblock page_content %}